## Forecasted Items received by Warehouse in June each day (using Day of week and Lag days)

### Step 1. Importing Data

In [1]:
import pandas as pd

file_path = '/Users/kavita/Desktop/MLProject/casestudy.xlsx'  

# Load the sheets into DataFrames
historical_data = pd.read_excel(file_path, sheet_name='input_1_histrocial')
sales_forecast_data = pd.read_excel(file_path, sheet_name='input_2_sales_fc')

In [2]:
sales_forecast_data['Forecated_items'].sum()

2433610

### Step 2. Lag days calculation


As there is time lag between order_date and date_wh_receive, we are calculating this lag by subtracting date_order from date_wh_receive.

In [3]:
# Calculate the lag in days between order and warehouse receipt
historical_data['lag_days'] = (historical_data['date_wh_receive'] - historical_data['date_order']).dt.days

### Step 3. Calculating item distribution percentage with lag days and days of week order

In [4]:
# Calculate the day of the week for each order date (Monday=1, Sunday=7)
historical_data['day_of_week_order'] = historical_data['date_order'].dt.dayofweek + 1

# Group by day of week and lag days, then sum up items for each group
lag_days_with_items_distribution_by_dow = historical_data.groupby(['day_of_week_order', 'lag_days'])['items'].sum()

# Calculate the total items received across all considered groupings
total_items_by_dow = lag_days_with_items_distribution_by_dow.groupby('day_of_week_order').sum()

# Calculate the percentage of total items received for each group
distribution_percentages_by_dow = lag_days_with_items_distribution_by_dow.div(total_items_by_dow, level='day_of_week_order') * 100
distribution_percentages_by_dow = distribution_percentages_by_dow.reset_index()

# distribution_percentages_by_dow['items'] = distribution_percentages_by_dow['items'].round(2)
distribution_percentages_by_dow.columns = ['day_of_week_order', 'receipt_diff', 'percentage_of_items']

# Printing 7 tables for each day of the week
days_of_the_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

for i, day in enumerate(days_of_the_week, start=1):
    print(f"Table for {day}:")
    display(distribution_percentages_by_dow[distribution_percentages_by_dow['day_of_week_order'] == i])
    print("\n")  # Adds a newline for better readability between tables

Table for Monday:

    day_of_week_order  receipt_diff  percentage_of_items
0                   1             0            41.025058
1                   1             1            22.340690
2                   1             2            33.418520
3                   1             3             2.525720
4                   1             4             0.278047
5                   1             5             0.089321
6                   1             6             0.002505
7                   1             7             0.140119
8                   1             8             0.069214
9                   1             9             0.066583
10                  1            10             0.029878
11                  1            11             0.011713
12                  1            12             0.000814
13                  1            15             0.000063
14                  1            17             0.000814
15                  1            22             0.000063
16                  1            23             0.000063
17                  1            25             0.000814

Table for Tuesday:

    day_of_week_order  receipt_diff  percentage_of_items
18                  2             0            46.510464
19                  2             1            24.590752
20                  2             2            26.669008
21                  2             3             1.554382
22                  2             4             0.212882
23                  2             5             0.001045
24                  2             6             0.101477
25                  2             7             0.144495
26                  2             8             0.116455
27                  2             9             0.056196
28                  2            10             0.020725
29                  2            11             0.010217
30                  2            12             0.000058
31                  2            13             0.007373
32                  2            14             0.003193
33                  2            15             0.000232
34                  2            16             0.000058
35                  2            17             0.000581
36                  2            21             0.000406

Table for Wednesday:

    day_of_week_order  receipt_diff  percentage_of_items
37                  3             0            48.513235
38                  3             1            22.593807
39                  3             2            24.939193
40                  3             3             3.189525
41                  3             4             0.017245
42                  3             5             0.245824
43                  3             6             0.195821
44                  3             7             0.168055
45                  3             8             0.076837
46                  3             9             0.029829
47                  3            10             0.010587
48                  3            11             0.000133
49                  3            12             0.011253
50                  3            13             0.005193
51                  3            14             0.000932
52                  3            15             0.000200
53                  3            16             0.002064
54                  3            17             0.000067
55                  3            19             0.000133
56                  3            24             0.000067

Table for Thursday:

    day_of_week_order  receipt_diff  percentage_of_items
57                  4             0            49.004239
58                  4             1            25.621850
59                  4             2            21.234629
60                  4             3             0.275369
61                  4             4             2.083357
62                  4             5             1.276266
63                  4             6             0.237999
64                  4             7             0.130794
65                  4             8             0.076131
66                  4             9             0.024317
67                  4            10             0.000199
68                  4            11             0.013517
69                  4            12             0.015504
70                  4            13             0.005168
71                  4            14             0.000133
72                  4            15             0.000265
73                  4            19             0.000066
74                  4            26             0.000199

Table for Friday:

    day_of_week_order  receipt_diff  percentage_of_items
75                  5             0            51.649801
76                  5             1            18.901779
77                  5             2             0.358284
78                  5             3            22.246856
79                  5             4             5.311602
80                  5             5             1.108818
81                  5             6             0.158802
82                  5             7             0.128992
83                  5             8             0.052748
84                  5            10             0.024855
85                  5            11             0.026374
86                  5            12             0.020540
87                  5            13             0.009111
88                  5            14             0.000080
89                  5            19             0.001279
90                  5            25             0.000080

Table for Saturday:

     day_of_week_order  receipt_diff  percentage_of_items
91                   6             0            45.484017
92                   6             1             3.284873
93                   6             2            38.062678
94                   6             3            10.741874
95                   6             4             1.914563
96                   6             5             0.260030
97                   6             6             0.073744
98                   6             7             0.084317
99                   6             8             0.011111
100                  6             9             0.020698
101                  6            10             0.023118
102                  6            11             0.033333
103                  6            12             0.004480
104                  6            13             0.000179
105                  6            14             0.000806
106                  6            25             0.000179

Table for Sunday:

     day_of_week_order  receipt_diff  percentage_of_items
107                  7             0            42.963822
108                  7             1            15.708969
109                  7             2            36.831845
110                  7             3             3.339970
111                  7             4             0.670628
112                  7             5             0.139802
113                  7             6             0.058747
114                  7             7             0.079732
115                  7             8             0.100898
116                  7             9             0.044917
117                  7            10             0.042031
118                  7            11             0.012086
119                  7            13             0.000661
120                  7            16             0.005111
121                  7            17             0.000060
122                  7            24             0.000722

### Step 4. Calculating forecasted items received by Warehouse in June 2022

In [5]:
# Create a DataFrame for storing daily forecasted items for June

forecast_dates = pd.date_range(start=sales_forecast_data['date_order'].min(), 
                               end=sales_forecast_data['date_order'].max()
                              + pd.Timedelta(days=22))
daily_forecasted_items = pd.DataFrame(index=forecast_dates, columns=['forecasted_wh_received_items_dow'])
daily_forecasted_items['forecasted_wh_received_items_dow'] = 0.0

# Calculating forecasted items for each day in June
for forecast_date in forecast_dates:
    day_of_week = forecast_date.dayofweek + 1  # Get the day of the week for the forecast date
    forecasted_sales = sales_forecast_data[sales_forecast_data['date_order'] == forecast_date]['Forecated_items'].sum()
    
    # Find distribution percentages for this day of the week
    percentages = distribution_percentages_by_dow[distribution_percentages_by_dow['day_of_week_order'] == day_of_week]
    
    # Applying the percentages to distribute the forecasted sales across lag days
    for _, row in percentages.iterrows():
        lag_day = row['receipt_diff']
        percentage = row['percentage_of_items'] / 100
        applicable_date = forecast_date + pd.Timedelta(days=lag_day)
        
        if applicable_date in daily_forecasted_items.index:  # Check if the date falls within June
            daily_forecasted_items.at[applicable_date, 'forecasted_wh_received_items_dow'] += forecasted_sales * percentage


            
daily_forecasted_items.reset_index(inplace=True)
daily_forecasted_items.rename(columns={'index': 'date_wh_receive'}, inplace=True)           
                       
display(daily_forecasted_items.round())

   date_wh_receive  forecasted_wh_received_items_dow
0       2022-06-01                           39238.0
1       2022-06-02                           46972.0
2       2022-06-03                           64001.0
3       2022-06-04                           47797.0
4       2022-06-05                           23122.0
5       2022-06-06                           79166.0
6       2022-06-07                           88044.0
7       2022-06-08                          112909.0
8       2022-06-09                           83591.0
9       2022-06-10                           80410.0
10      2022-06-11                           54573.0
11      2022-06-12                           35235.0
12      2022-06-13                           88214.0
13      2022-06-14                          111884.0
14      2022-06-15                          100841.0
15      2022-06-16                          103713.0
16      2022-06-17                           85354.0
17      2022-06-18                           61790.0
18      2022-06-19                           30407.0
19      2022-06-20                           76830.0
20      2022-06-21                           87663.0
21      2022-06-22                           84206.0
22      2022-06-23                           79889.0
23      2022-06-24                           76825.0
24      2022-06-25                           61034.0
25      2022-06-26                           45490.0
26      2022-06-27                          100544.0
27      2022-06-28                          157812.0
28      2022-06-29                          132980.0
29      2022-06-30                          116190.0
30      2022-07-01                           49188.0
31      2022-07-02                           21788.0
32      2022-07-03                             342.0
33      2022-07-04                            2499.0
34      2022-07-05                            1713.0
35      2022-07-06                             732.0
36      2022-07-07                             342.0
37      2022-07-08                             147.0
38      2022-07-09                              52.0
39      2022-07-10                               0.0
40      2022-07-11                              36.0
41      2022-07-12                              30.0
42      2022-07-13                               7.0
43      2022-07-14                               1.0
44      2022-07-15                               4.0
45      2022-07-16                               0.0
46      2022-07-17                               0.0
47      2022-07-18                               0.0
48      2022-07-19                               1.0
49      2022-07-20                               1.0
50      2022-07-21                               0.0
51      2022-07-22                               1.0

In [6]:
# # total sum of forecasted_wh_received_items_dow
daily_forecasted_items['forecasted_wh_received_items_dow'].sum().round()

2433610.0

In [7]:
# Validating if sum of order items and sum of warehouse received items equal.
sales_forecast_data['Forecated_items'].sum() == daily_forecasted_items['forecasted_wh_received_items_dow'].sum().round()

True

In [8]:
# Save the forecast to a csv file
daily_forecasted_items.to_csv("forecast_distribution_june_2024_DOW.csv", index=False)
from IPython.display import FileLink
FileLink('forecast_distribution_june_2024_DOW.csv')

/Users/kavita/forecast_distribution_june_2024_DOW.csv